sudo: required
language: elixir
elixir:
  - 1.10
opt_release:
  - 22.2.6

addons:
  postgres: "9.4"

services:
  - postgresql
  - docker
env:
  global:
    - GCP_PROJECT_ID=find-my-personal
    - IMAGE=gcr.io/find-my-personal/find_my_personal
    - CLOUD_RUN_SERVICE=find_my_personal
    - CLOUD_RUN_REGION=us-central1
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - SHA=$(git rev-parse HEAD)
before_install:
  - openssl aes-256-cbc -K $encrypted_fa2b743a0d85_key -iv $encrypted_fa2b743a0d85_iv -in find-my-personal-6f24d4f46225.json.enc -out find-my-personal-6f24d4f46225.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null #Download SDK GOOGLE
  - source "$HOME/google-cloud-sdk/path.bash.inc" 
  - gcloud auth activate-service-account --key-file=find-my-personal-6f24d4f46225.json
  - gcloud auth configure-docker # habilita push para o gcr
  - gcloud config set project "${GCP_PROJECT_ID}"
  - gcloud components install beta # until Cloud Run is generally available (GA)

script:
  - mix format --check-formatted --dry-run
  - mix credo --strict
  - mix sobelow --config
  - mix coveralls

after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  skip_cleanup: true
  provider: script
  script: bash ./deploy.sh #git update-index --add --chmod=+x deploy.sh
  on:
    branch: main
