sudo: required
language: elixir
elixir:
  - 1.11.3
opt_release:
  - 23.2

addons:
  postgres: "9.4"

services:
  - postgresql
  - docker
env:
  global:
    - GCP_PROJECT_ID=find-my-personal
    - IMAGE=gcr.io/find_my_personal/find_my_personal
    - CLOUD_RUN_SERVICE=find_my_personal
    - CLOUD_RUN_REGION=us-central1
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - SHA=$(git rev-parse HEAD)

script:
  - mix format --check-formatted --dry-run
  - mix credo --strict
  - mix sobelow --config
  - mix coveralls

after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  skip_cleanup: true
  provider: script
  script: bash ./deploy.sh #git update-index --add --chmod=+x deploy.sh
  on:
    branch: master
